<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenEx Realty and Brokerage</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="@Url.Content("~/Images/logo.png")" alt="logo" style="width:40px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="home" asp-action="index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="" asp-action="">Buy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="" asp-action="">Rent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="" asp-action="">New Development</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="" asp-action="">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="dashboard" asp-action="index">Login/Register|Dashboard</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);

    }
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GenExRB - <a asp-area="" asp-page="/Privacy">Privacy, this is a sample edit lang </a>
        </div>

    </footer>
</body>
</html>
