@{
    Layout = "_Layout2";
    /*
    LLL
    X
    HHH
    X
    x 
    */
}
<p>DASHBOARD </p>
<p>options:</p>
<ul>
    <li><a asp-controller="properties" asp-action="index">Properties</a></li>
    <li><a asp-controller="agents" asp-action="index">Agents(users)</a></li>
    <li><a asp-controller="messages" asp-action="index">Messages</a></li>
    <li><a asp-controller="blogentries" asp-action="index">Blog entries</a></li>
    <li><a asp-controller="careers" asp-action="index">Careers/job openings</a></li>
    <li><a asp-controller="trainings" asp-action="index">Trainings</a></li>
    <li><a asp-controller="analytics" asp-action="index">Analytics</a></li>
    <li><a asp-controller="categories" asp-action="index">Analytics</a></li>

    <li><a asp-controller="home" asp-action="index">Back to homepage</a></li>
</ul>