@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h3>SAMPLE INTERIOR DESIGN DESIGN </h3>


<div class="container">
    <P>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue mauris tortor, vitae tristique risus efficitur in. Suspendisse potenti. Quisque vitae gravida velit. Aliquam maximus, nunc quis porta luctus, turpis arcu tempor turpis, vel euismod tortor purus quis magna. Vestibulum eget ipsum eu elit vestibulum mattis id ac ligula. Fusce vel varius metus, at dignissim purus. Pellentesque iaculis odio risus, vitae egestas urna molestie euismod.
    </P>


    <p>
        Sed velit magna, ultricies et congue in, ultricies at mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam aliquam metus sit amet turpis gravida convallis. In purus nibh, ultricies ut quam a, molestie finibus quam. Aliquam non eleifend mi. Curabitur volutpat ornare tellus consectetur ultricies. Pellentesque quis nunc condimentum, convallis nisi a, sodales purus. Maecenas tincidunt leo sodales facilisis ornare. Ut porta est at scelerisque pulvinar. Ut elementum enim ut quam interdum, quis volutpat nunc ultrices. Duis velit nunc, scelerisque id purus at, convallis elementum est.
    </p>


    <p>
        Aliquam erat volutpat. Praesent at quam vitae nunc aliquam laoreet. Morbi luctus nec ante et porttitor. Praesent et mauris diam. Mauris pharetra libero in consequat porttitor. Proin fermentum mattis lacinia. Curabitur tempor lobortis sapien in placerat. Etiam pellentesque dolor mi, pulvinar tempus lacus egestas fringilla. Fusce placerat nec mi nec pretium. Quisque sit amet nunc fermentum quam ullamcorper imperdiet in sit amet neque. Phasellus vestibulum, neque eget venenatis malesuada, risus dui gravida enim, id rhoncus lacus mi ac dui. Aliquam erat volutpat. Aliquam accumsan lacinia arcu, non hendrerit tortor consequat nec.
    </p>

</div>